*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these */

:root {
  --ff-primary: "Kumbh Sans", sans-serif;

  --fw-thin: 200;
  --fw-reg: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --clr-light: #fff;
  --clr-dark: #26282d;
  --clr-accent1: #16d3f0;
  --clr-accent2: #f02e8c;
  /* --clr-accent2: #f04cb2; */

  --fs-h1: 3rem;
  /* --fs-h2: 2.25rem; */
  --fs-h3: 1.5rem;
  --fs-body: 1rem;

  --bs: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

/* Intro section */

.intro {
  color: var(--clr-light);
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: var(--fw-reg);
}

.intro__title {
  text-align: center;
  line-height: 1.125em;
  font-size: 2.75rem;
  margin: 0 0 0.5em 0;
}

.intro__highlight {
  color: var(--clr-accent1);
  font-weight: var(--fw-semibold);
}

.intro__button {
  font-size: 1.5rem;
  padding: 0.5em 1em 0.5em 1em;
  border: 2px solid var(--clr-light);
  color: var(--clr-light);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 500ms;
}

.intro__button:hover,
.intro__button:focus {
  border: 2px solid var(--clr-accent2);
  background-color: var(--clr-accent2);
}

.fa-arrow-right {
  font-size: 1.4rem;
  margin-left: 0.6em;
  transform: rotate(90deg);
  transition: all ease-in-out 400ms;
}

.intro__button:hover > .fa-arrow-right,
.intro__button:focus > .fa-arrow-right {
  transform: rotate(450deg);
}

@media only screen and (max-width: 600px) {
  .intro__title {
    font-size: 1.5rem;
    margin: 0 0 1em 0;
  }

  .intro__button {
    font-size: 1.25rem;
  }
}

/* Navbar */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__button {
  background-color: rgba(0, 0, 0, 0);
  color: var(--clr-light);
  border: none;
  cursor: pointer;
  height: 100%;
  transition: all 200ms;
  padding: 0px 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__button:hover {
  background-color: var(--clr-accent2);
}

.hamburger {
  display: none;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  color: var(--clr-light);
  background-color: var(--clr-accent1);
  border: none;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  z-index: 3;
  transition: all 300ms;
}

.navmenu {
  transition: all ease-in-out 500ms;
  height: 100vh;
  width: calc(100vw + 2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 2;
  background-color: var(--clr-dark);
  border-left: 2px solid var(--clr-accent2);
}

.navmenu__button {
  height: 8rem;
  font-size: 3.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--clr-light);
}

.navmenu__button::active {
  color: var(--clr-accent2);
}

.navmenu__spacer {
  height: 2px;
  width: 8rem;
  background-color: var(--clr-light);
}

.hamburger .fa-times {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .hamburger {
    display: inline;
  }
}

/* Default section formatting */
.section {
  /* padding: 5rem 10rem; */
  padding: 5rem 10rem 0rem 10rem;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.section__title {
  color: var(--clr-accent1);
  padding-right: 80px;
  min-width: 210px;
  text-align: right;
  text-transform: uppercase;
  font-weight: var(--fw-reg);
}

.section__body {
  max-width: 65ch;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .section {
    padding: 80px 80px;
  }

  .section__title {
    padding-right: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .section {
    flex-direction: column;
    padding: 60px 60px;
  }

  .section__title {
    text-align: left;
    padding-bottom: 10px;
  }

  .section__body {
    padding-left: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .section {
    padding: 30px 30px;
  }

  .section__body {
    padding-left: 20px;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--clr-dark);
  font-size: 3rem;
  padding-bottom: 0rem;
  text-transform: uppercase;
}

.title::after {
  content: "";
  height: 4px;
  width: 8rem;
  background-color: var(--clr-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Resume */

.resume__buttonFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume__button {
  font-size: 1.5rem;
  margin-top: 3em;
  padding: 0.5em 1.5em;
  border: 2px solid var(--clr-dark);
  color: var(--clr-dark);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 500ms;
  text-decoration: none;
}

.resume__button:hover,
.resume__button:focus {
  border: 2px solid var(--clr-accent2);
  background-color: var(--clr-accent2);
  color: var(--clr-light);
}

/* footer */

.footer {
  background: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  padding: 8rem 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
  transition: all 200ms;
}

.footer__title {
  color: var(--clr-light);
  padding: 0;
  margin-bottom: 3rem;
}

.footer__title::after {
  background-color: var(--clr-light);
}

.footer__link:hover,
.social-list__link:hover {
  color: var(--clr-accent1);
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
  font-size: 2rem;
}
